
<div class="container">
    <div class="starter-template">
        <h1>Input your prospect name to get a nearest match</h1>
        <p class="lead">Enable a cleaner world</p>
    </div>

</div><!-- /.container -->

<form action="/lookup" method="GET">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="input_prospect">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Submit !</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
<!-- /.row -->
</form>
